{% extends "commerce/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="text-center mb-2">Home</h1>

<div class="row justify-content-center">
    {% for listing in listings %}
            <div class="col-lg-6">

                <div class="card text-center mb-3">
                    <div class="card-header">
                        {{ listing.user }}
                    </div>
                    <div class="card-body">
                        {% if listing.image %}<img style="padding-bottom: 5px; height: 150px;" src="{{ listing.image }}">{% endif %}
                    <h5 class="card-title">{{ listing.name }}</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Open Listing</a>
                    </div>
                    <div class="card-footer text-muted">
                        ${{ listing.price }}
                    </div>
                </div>

            </div>
    {% endfor %}
</div>
{% endblock %}