{% extends "commerce/layout.html" %}

{% block title %}Wishlist{% endblock %}

{% block body %}
<h1 class="text-center mb-2">{{ request.user }}'s Reviews</h1>

{% for review in reviews %}

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card text-center mb-3">
                <div class="card-header">
                    {{ review.listing.user }}
                </div>
                <div class="card-body">
                    {% if review.listing.image %}<img style="padding-bottom: 5px; max-width: 25%;" src="{{ review.listing.image }}">{% endif %}
                  <h5 class="card-title">{{ review.listing.name }}</h5>
                  <p class="card-text">{% if review.recommend %}<strong class="text-success">Recommended</strong>{% else %}<strong class="text-danger">Not recommended</strong>{% endif %}: {{ review.review }}</p>
                  <a href="{% url 'listing' review.listing.id %}" class="btn btn-primary">Open Listing</a>
                </div>
            </div>
            
        </div>
    </div>
{% endfor %}
{% endblock %}