{% extends "commerce/layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <h1 class="text-center">Hello {{ request.user.username }}!</h1>

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <form action="{% url 'user' user.username %}" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
</div>
{% endblock %}